{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}

<h1>Supplies</h1>

<script>
jQuery(document).ready( function () {
	jQuery('.smarttable').dataTable( {
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"bStateSave": true,
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"aButtons": [
				{
					"sExtends": "copy",
					"sButtonText": "Copy to clipboard"
				},
				{
					"sExtends": "csv",
					"sButtonText": "Save to CSV"
				},
				{
					"sExtends": "xls",
					"sButtonText": "Save for Excel"
				}
			]
		}
	} );
} );
</script>
{{=button('add','add_docs')}}

<table class="smarttable">
<thead>
  <tr>
    <th>Id</th><th>Name</th><th>Description</th><th>Date</th><th>Action</th>
  </tr>
</thead>
<tbody>
{{for ins in supplies2:}}
<tr>
<td>{{=ins.id}}</td>	
<td>{{=ins.Name}}</td>
<td>{{=ins.Quantity}}</td>
<td>{{=ins.Location}}</td>
<td>{{=button('edit','edit_docs',doc.id)}}-<a href="{{=URL(r=request,f='download',args=doc.File)}}">Download</a></td>
</tr>

{{pass}}
<tfoot>
	<th>Supplies</th>
</tfoot>
</tbody>
</table>
